.title {
  margin-top: 24px;
  text-align: left;
  font-size: 26px;
}
.name {
  margin-top: 24px;
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 32px;
  text-align: center;
  color: #394d5ff5;
}
.text {
  margin-top: 12px;
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 40px;
  text-align: center;
  color: #1b2e3f;
}
